<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
		<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
	</configSections>
	<appSettings>
		<!-- Location of the uncompressed distributors list file. -->
		<add key="DistributorFilePath" value="C:\Users\James\Downloads\Projects\iMDB\distributors.list" />
		<!-- Maximum number of distributors to load. 0 will load all data. -->
		<add key="MaximumDistributors" value="500" /><!-- 5000000 -->
	</appSettings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
	</startup>
	<entityFramework>
		<defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
		<providers>
			<provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
		</providers>
	</entityFramework>
	<connectionStrings>
		<!-- Update as needed to point to your data source. -->
		<add name="DistributorsEntities"
			 connectionString="metadata=res://*/DatabaseModels.DistributorModel.csdl|res://*/DatabaseModels.DistributorModel.ssdl|res://*/DatabaseModels.DistributorModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost\SQLEXPRESS;initial catalog=MyMDb;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;"
			 providerName="System.Data.EntityClient" />
	</connectionStrings>
</configuration>